:root {
  --primary: #FFC23C;  
  --secondary: #FA2FB5;
  --tertiary: #9FC9F3;
  --bg: #100720;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bg);    
    font-family: 'Bebas Neue', cursive;    
}

/*  */
/* cabecalho */
/*  */

.cabecalho {    
  display: flex;
  align-items: center;
  height: 60px;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;      
}

.menu-lista {
  display: flex;       
  gap: 1rem;    
  color: var(--secondary);
}

.menu-lista li {
  cursor: pointer;
}

.logo_img {
  height: 80px;
  width: auto;
}


/*  */
/* conteudo */
/*  */

.logo {  
  text-align: center;  
  height: 250px;  
  user-select: none;
  font-family: 'Vibur', cursive;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.logo b {
  
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.hero {
  background: url('../img/hero2.jpg') no-repeat center center/cover;
  height: calc(100vh - 60px);   
  width: 100%;
}

.produtos {    
  display: grid;    
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;    
  padding: 1rem;  
}

.titulo {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
  border-bottom: 1px solid var(--primary);
}

.wrapper {
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  background: url(../img/cortapretoadidas.png) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;  
}
.wrapper .container .bottom {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding: 20px;
  float: left;
  width: calc(70% - 40px);
  color: var(--bg);
}

.wrapper .container .bottom .left .details p {
  color: var(--secondary);
}

.wrapper .container .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: var(--bg);
  transition: transform 0.5s;
}
.wrapper .container .bottom .left .buy:hover {
  background: #A6CDDE;
}
.wrapper .container .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: var(--bg);
}
.wrapper .container .bottom .right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
  background: #9B2847;
}
.wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}
.wrapper .inside {
  z-index: 9;
  background: var(--secondary);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: var(--bg);
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
  color: var(--bg);
}
.wrapper .inside .contents p {
  font-size: 13px;
}

/*  */
/* footer */
/*  */

.rodape {
  color: var(--bg);
  padding: 1rem;
  background-color: var(--secondary);
  margin-top: 1rem;
}



