:root {
  --primary: #FFC23C;  
  --secondary: #FA2FB5;
  --tertiary: #9FC9F3;
  --bg: #100720;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bg);    
    font-family: 'Bebas Neue', cursive;    
}

h1, h2 {
    color: var(--primary);
    margin: 0;
    padding: 0;
}

p, span {
    color: var(--secondary);
}

/*  */
/* cabecalho */
/*  */

.cabecalho {    
  display: flex;
  align-items: center;
  height: 100px;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;    
}

.menu-lista {
  display: flex;       
  gap: 1rem;    
  color: var(--secondary);
}

.menu-lista li {
  cursor: pointer;
}

.logo_img {
  height: 100px;
  width: auto;
}

/*  */
/* conteudo */
/*  */


.logo {  
  text-align: center;  
  height: 250px;  
  user-select: none;
  font-family: 'Vibur', cursive;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.logo b{
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.hero {
  background: url('../img/hero.jpg') no-repeat center center/cover;
  height: calc(100vh - 100px);   
  width: 100%;
}

.produtos {    
  display: grid;    
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;    
  padding: 1rem;  
}

.produto {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #31087B;
  border-radius: 10px;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #31087B, 0 0 0.5em #31087B, 0 0 0.1em #31087B, 0 10px 3px #000;
}

.produto__img {
  height: auto;
  width: 10rem;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
  border-bottom: 1px solid var(--primary);
}
