:root {
  --primary: #FFC23C;  
  --secondary: #FA2FB5;
  --tertiary: #9FC9F3;
  --bg: #100720;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bg);    
    font-family: 'Bebas Neue', cursive;    
}

/*  */
/* cabecalho */
/*  */

.cabecalho {    
  display: flex;
  align-items: center;
  height: 60px;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;      
}

.menu-lista {
  display: flex;       
  gap: 1rem;    
  color: var(--secondary);
}

.menu-lista li {
  cursor: pointer;
}

.logo_img {
  height: 80px;
  width: auto;
}


/*  */
/* conteudo */
/*  */

.logo {  
  text-align: center;  
  height: 250px;  
  user-select: none;
  font-family: 'Vibur', cursive;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.logo b {
  
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.hero {
  background: url('../img/hero2.jpg') no-repeat center center/cover;
  height: calc(100vh - 60px);   
  width: 100%;
}

.produtos {    
  display: grid;    
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;    
  padding: 1rem;  
}

.titulo {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
  border-bottom: 1px solid var(--primary);
}



.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 0 auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary);
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: var(--secondary);
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
  color: var(--primary);
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: var(--bg);
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: var(--primary);
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: var(--primary);
}
/*  */
/* footer */
/*  */

.rodape {
  color: var(--bg);
  padding: 1rem;
  background-color: var(--secondary);
  margin-top: 1rem;
}



